/* 共通スタイルは外に書く */
.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.p-header__topContainer {
  padding: 20px;
}

.p-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}

.p-header__top>a>h2 {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  padding-left: 30px;
  text-align: center;
}

.p-header__top>a>img {
  width: 140px;
}

.p-header__top>a:hover {
  opacity: .8;
}

.p-header__top>.bi,
.p-header__link {
  font-size: 5rem;
}

.p-header__top>.bi,
.p-header__link,
.p-footer {
  color: #333;
}

.p-header__top>.bi:hover {
  cursor: pointer;
}

.p-header__backGround {
  background: linear-gradient(-45deg, #fffcf7, #ffbf79);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.p-header__linkContainer {
  padding: 20px;
}

.p-header__link {
  height: 90%;
}

.p-header__link:first-child {
  margin-top: 40px;
}

.p-header__link:not(:first-child) {
  margin-top: 20px;
}

.p-footer {
  padding: 20px;
}

.p-footer__topContainer,
.p-footer__footContainer {
  font-family: 'EB Garamond', serif;
  display: flex;
  justify-content: space-between;
}

.p-footer__footContainer {
  margin-top: 40px;
}

.p-footer__topContainer>img {
  width: 70px;
  object-fit: contain;
  align-self: flex-start;
}

.p-footer__linkContainer>h2 {
  font-size: 2rem;
}

.p-footer__linkContainer>h2 a:hover {
  cursor: pointer;
}

.p-footer__privacy {
  align-self: flex-end;
}

.p-footer__privacy>h3 {
  font-size: 1rem;
}

.p-footer__contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





@media screen and (min-width: 796px) {
  /* pc用スタイル */


}

@media screen and (max-width: 795px) {
  /* sp用スタイル */


}